<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SernaSistemas.DataAccess.Properties.Settings.SernaSistemasConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=SernaSistemas;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>