.serna-titulo {
    background-color: #FFBB00;
    border: #6E75C3 2px solid;
    background-image: radial-gradient(#ffdc79 15%, transparent 16%), radial-gradient(#D9A000 15%, transparent 16%);
    background-size: 19px 19px;
    background-position: 0 0, 30px 30px;
    font-size: 20px;
    font-weight: 600;
}

h1.serna-titulo1 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: #ffffff;
    color: #020d17;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.navbar-collapse.collapse.serna-navbar {
    background-color: #d7d9ec;
    color: #020d17;
}

div.Seccion {
    background-color: #FFFFFF;
    border: #454DB5 3px solid;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #F47A8D;
}

div.Servicio {
    background-color: #FBEC1DE;
    border: #FFFFFF 4px solid;
}

.tituloOferta {
    color: #CD0020;
}
.precio {
    font-size: large;
    font-weight: bolder;
}
/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=73X1A0kn3xFHJrivYzLg4Ck5lNC */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 {
    color: #454DB5
}
/* Main Primary color */
.color-primary-1 {
    color: #0D1797
}

.color-primary-2 {
    color: #1A26BA
}

.color-primary-3 {
    color: #6E75C3
}

.color-primary-4 {
    color: #BEC1DE
}

.color-secondary-1-0 {
    color: #F2445F
}
/* Main Secondary color (1) */
.color-secondary-1-1 {
    color: #CD0020
}

.color-secondary-1-2 {
    color: #F30027
}

.color-secondary-1-3 {
    color: #F47A8D
}

.color-secondary-1-4 {
    color: #F9D0D6
}

.color-secondary-2-0 {
    color: #68DC3D
}
/* Main Secondary color (2) */
.color-secondary-2-1 {
    color: #32BA00
}

.color-secondary-2-2 {
    color: #3CDE00
}

.color-secondary-2-3 {
    color: #8FE271
}

.color-secondary-2-4 {
    color: #D2EFC8
}

.color-complement-0 {
    color: #FFCE47
}
/* Main Complement color */
.color-complement-1 {
    color: #D9A000
}

.color-complement-2 {
    color: #FFBB00
}

.color-complement-3 {
    color: #FFDD7F
}

.color-complement-4 {
    color: #FFF4D5
}



/* As RGBa codes */

.rgba-primary-0 {
    color: rgba( 69, 77,181,1)
}
/* Main Primary color */
.rgba-primary-1 {
    color: rgba( 13, 23,151,1)
}

.rgba-primary-2 {
    color: rgba( 26, 38,186,1)
}

.rgba-primary-3 {
    color: rgba(110,117,195,1)
}

.rgba-primary-4 {
    color: rgba(190,193,222,1)
}

.rgba-secondary-1-0 {
    color: rgba(242, 68, 95,1)
}
/* Main Secondary color (1) */
.rgba-secondary-1-1 {
    color: rgba(205, 0, 32,1)
}

.rgba-secondary-1-2 {
    color: rgba(243, 0, 39,1)
}

.rgba-secondary-1-3 {
    color: rgba(244,122,141,1)
}

.rgba-secondary-1-4 {
    color: rgba(249,208,214,1)
}

.rgba-secondary-2-0 {
    color: rgba(104,220, 61,1)
}
/* Main Secondary color (2) */
.rgba-secondary-2-1 {
    color: rgba( 50,186, 0,1)
}

.rgba-secondary-2-2 {
    color: rgba( 60,222, 0,1)
}

.rgba-secondary-2-3 {
    color: rgba(143,226,113,1)
}

.rgba-secondary-2-4 {
    color: rgba(210,239,200,1)
}

.rgba-complement-0 {
    color: rgba(255,206, 71,1)
}
/* Main Complement color */
.rgba-complement-1 {
    color: rgba(217,160, 0,1)
}

.rgba-complement-2 {
    color: rgba(255,187, 0,1)
}

.rgba-complement-3 {
    color: rgba(255,221,127,1)
}

.rgba-complement-4 {
    color: rgba(255,244,213,1)
}

/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */