.serna-titulo {
    background-color: #F49CE3;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU2OM/O/vu8xyMQMhwDhUFC5n3LgZ5Jm6Gf990T3VlMG4GeQPsGcWM7wk5GkG0hQSbTUxCgFgFDY1C6hWlwAAAABJRU5ErkJggg==)repeat;*/
    background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX4686140.jpg);
    border: #D34CBA 2px solid;
    text-shadow: 0px 0px 12px #fff;
}

body {
    background-color: #ffffff;
    color: #020d17;
    font-family: 'Kalam', cursive;
    font-size: 16px;
}

.img-thumbnail {
    border: #B601C3 2px dashed;
}

.navbar-collapse.collapse.serna-navbar {
    background-color: #CDF5FB;
}

div.Seccion {
    background-color: #FFE6D0;
    border: #FFCFA3 2px solid;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #6FD1DF;
    color: #FFFFFF;
}

div.Servicio {
    background-color: #F4FFCF;
    border: #DEFB7B 2px solid;
}

.tituloOferta {
    color: #5a6b1f;
}

.contacto {
    background-color: #FFFFFF;
}

.btn-contacto {
    background-color: #FFD02F;
    color: #604000;
    font-weight: bolder;
}

.contacto-align-btn {
    text-align: center;
}
.precio {
    font-size: large;
    font-weight: bolder;
}


/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=750190kbAWf00++5YZKgnQzkyHD */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 {
    color: #F49CE3
}
/* Main Primary color */
.color-primary-1 {
    color: #FFFFFF
}

.color-primary-2 {
    color: #FCCDF3
}

.color-primary-3 {
    color: #E771D1
}

.color-primary-4 {
    color: #D34CBA
}

.color-secondary-1-0 {
    color: #FFCFA3
}
/* Main Secondary color (1) */
.color-secondary-1-1 {
    color: #FFFFFF
}

.color-secondary-1-2 {
    color: #FFE6D0
}

.color-secondary-1-3 {
    color: #FFBB7D
}

.color-secondary-1-4 {
    color: #FFAA5B
}

.color-secondary-2-0 {
    color: #9BE6F0
}
/* Main Secondary color (2) */
.color-secondary-2-1 {
    color: #FFFFFF
}

.color-secondary-2-2 {
    color: #CDF5FB
}

.color-secondary-2-3 {
    color: #6FD1DF
}

.color-secondary-2-4 {
    color: #48B4C3
}

.color-complement-0 {
    color: #E9FDA2
}
/* Main Complement color */
.color-complement-1 {
    color: #FFFFFF
}

.color-complement-2 {
    color: #F4FFCF
}

.color-complement-3 {
    color: #DEFB7B
}

.color-complement-4 {
    color: #D4F859
}



/* As RGBa codes */

.rgba-primary-0 {
    color: rgba(244,156,227,1)
}
/* Main Primary color */
.rgba-primary-1 {
    color: rgba(255,255,255,1)
}

.rgba-primary-2 {
    color: rgba(252,205,243,1)
}

.rgba-primary-3 {
    color: rgba(231,113,209,1)
}

.rgba-primary-4 {
    color: rgba(211, 76,186,1)
}

.rgba-secondary-1-0 {
    color: rgba(255,207,163,1)
}
/* Main Secondary color (1) */
.rgba-secondary-1-1 {
    color: rgba(255,255,255,1)
}

.rgba-secondary-1-2 {
    color: rgba(255,230,208,1)
}

.rgba-secondary-1-3 {
    color: rgba(255,187,125,1)
}

.rgba-secondary-1-4 {
    color: rgba(255,170, 91,1)
}

.rgba-secondary-2-0 {
    color: rgba(155,230,240,1)
}
/* Main Secondary color (2) */
.rgba-secondary-2-1 {
    color: rgba(255,255,255,1)
}

.rgba-secondary-2-2 {
    color: rgba(205,245,251,1)
}

.rgba-secondary-2-3 {
    color: rgba(111,209,223,1)
}

.rgba-secondary-2-4 {
    color: rgba( 72,180,195,1)
}

.rgba-complement-0 {
    color: rgba(233,253,162,1)
}
/* Main Complement color */
.rgba-complement-1 {
    color: rgba(255,255,255,1)
}

.rgba-complement-2 {
    color: rgba(244,255,207,1)
}

.rgba-complement-3 {
    color: rgba(222,251,123,1)
}

.rgba-complement-4 {
    color: rgba(212,248, 89,1)
}

/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */