WCFTiendasLib/obj/Release/
WCFSernaSistemasLib/obj/Release/
WCFSernaSistemasLib/bin/
WCFCotedivLib/obj/Release/
Tiendas/obj/Release/
Tiendas.Tests/obj/Release/
sernasistemas/obj/Release/
SernaSistemas.DataAccess/obj/Release/
SernaSistemas.Core/bin/Release/
SernaSistemas.Core/obj/Release/
Hoteles.Tests/obj/Release/
HistoriasClinicas.Tests/obj/Release/
Bibliotecas.Tests/obj/Release/
CoTeDiv.Tests/obj/Release/
Escolar.Tests/obj/Release/
*.txt
/sernasistemas/bin/roslyn
/sernasistemas/bin
/sernasistemas/Content/images/negociosimgs
WCFTiendasLib/obj/Debug/
WCFTiendasLib/bin/Release/WCFTiendasLib.dll.config
WCFTiendasLib/bin/
WCFSernaSistemasLib/obj/Debug/
WCFCotedivLib/bin/
Tiendas/bin/
Tiendas.Tests/bin/Release/Tiendas.Tests.dll.config
Tiendas.Tests/bin/
SernaSistemas.DataAccess/bin/
SernaSistemas.Core/bin/
Hoteles.Tests/bin/
