@{
    Layout = "~/Views/_basica.cshtml";
}
Prueba de contenido...
@section Title{
    <p>Título</p>
    }
@section footer1{
    <p>Pie 1</p>
    }
@section footer2{
    <p>Pie 2</p>
    }
@section footer3{
    <p>Pie 3</p>
    }
