@model SernaSistemas.Models.LoginModel

@{
    ViewBag.Title = "¡Felicidades!";
    ViewBag.vista = "_login";
    Layout = "~/Views/Shared/_LayoutClinica.cshtml";
}

<div class="container card containerClinica" style="margin:auto; width:50%; padding-left:1em; padding-right:1em;">
    <div class="row card-header" style="padding-left:1em;">
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <p>Tu pago ha sido registrado. Si escribiste tu nombre y dirección de correo como decían las instrucciones, en breve tendrás activa una cuenta.</p>
                <p>En caso que no hayas proporcionado esta información, puedes enviar un correo a <a href="mailto:efrain@sernasis.com">efrain@sernasis.com</a> especificando tu nombre, correo y fecha de pago para poder generar tu cuenta.</p>
                
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-md-6 offset-3">
            </div>
        </div>
    </div>
</div>
