@model CoTeDiv.Models.ResponseModel
@{
    ViewBag.Title = "Acerca del proyecto";
    Layout = "~/Views/Shared/Estudiante.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Información dirigida al alumno acerca del proyecto.</p>
