@model SernaSistemas.Core.Models.LoginModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cotediv</h1>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.Partial("Login",Model)
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("buscar")
            </div>
        </div>
        @foreach (var item in ViewBag.Posts) {
            @item
            <br />
        }
    </div>
</div>