
<h2>Resultados de la búsqueda</h2>
@if (ViewBag.Resultados != null) {

    foreach (var item in (ViewBag.Resultados as Dictionary<int, Tiendas.Models.TiendaModel>)) {
        <div class="row">
            <div class="col-md-1">
                @Html.ActionLink(">>", "verNegocio", new {
                    @id = item.Key
                })
            </div>
            <div class="col-md-5">
                @item.Value.Nombre
            </div>
            <div class="col-md-3">
                @item.Value.Telefono
            </div>
            <div class="col-md-3">
                @item.Value.Direccion
            </div>
        </div>
    }
}
