
@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>
<div class="row">
    <div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            Gestión de Historias Clínicas<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
        <h4>Acerca de este servicio</h4>
        <p>
            Regístrate y comiensa a llevar control sobre las historias clínicas de tus pacientes.
            Comparte el enlace a tu consultorio virtual y permite que tus pacientes consulten cuándo tienen cita agendada, así como sus últimas recetas para recordar la medicación que llevan, y avisos que desees comunicarles.
        </p>
        <p>
            Si requieres un sistema más grande o especializado, no dudes en @Html.ActionLink("contactarme para un presupuesto", "Index")
            @Html.ActionLink(linkText: " ", actionName: "Index", routeValues: null, htmlAttributes: new {
                @class = "glyphicon glyphicon-play-circle"
            }).
        </p>
    </div>
    <div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            Centro comercial virtual<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            CoTeDiv<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            Agencia de hoteles<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            Gestión Escolar<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            Bibliotecas<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
    </div>
</div>
