@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>
<div class="row">
    @*<div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            Gestión de Historias Clínicas<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
        <p>
            Regístrate y comiensa a llevar control sobre las historias clínicas de tus pacientes.
            Comparte el enlace a tu consultorio virtual y permite que tus pacientes consulten cuándo tienen cita agendada, así como sus últimas recetas para recordar la medicación que llevan, y avisos que desees comunicarles.
        </p>
        <p>
            Si requieres un sistema más grande o especializado, no dudes en @Html.ActionLink("contactarme para un presupuesto", "Index")
            @Html.ActionLink(linkText: " ", actionName: "Index", routeValues: null, htmlAttributes: new {
                @class = "glyphicon glyphicon-play-circle"
            }).
        </p>
    </div>*@
    <div class="col-md-4">
        <a href="@Url.Action("","Negocios")" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            Centro comercial virtual<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
        <p>
            Entra y encuentra negocios que te ofrecen productos y servicios para tus necesidades y gustos.
        </p>
        <p>
            Reg&iacute;strate y crea tu local virtual que incluye p&aacute;ginas de: introducci&oacute;n, productos, servicios, contacto con clientes.<br />
            Adem&aacute;s de que recibes notificaci&oacute;n y comentarios vía correo.
        </p>
        <div class="w-100 text-primary">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="currency_code" value="MXN">
                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIH2QYJKoZIhvcNAQcEoIIHyjCCB8YCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB/6QgpGnC9CHXC84AP2VHJQ+fZSSqzr6CTcBC2gZ6cgYPMIucgN0suI3mvcoWfPOnVUNyvlYryOov/2hxQ2OrbZoAWtfFDv6lUMgJws1lc5s68l6wwS/FdLGlV/Mzaof82OYWS8/FK5GYNqt4oX9J9uAtKOMiZZ5+G8tXVgEnuOzELMAkGBSsOAwIaBQAwggFVBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECEEEa7HF4+yqgIIBMMfOy1y7Ih5JhjGERlgriZ+eV+5qYxs9Lze/Ku1jDHPIRCIq6y9JdDKVAhhJaT17dd9f5DRta7/rW9xSTwM1UM3fkkjdnOPX4XaWcfrwSBNWKEXKZQpS1oJWznbxlf6EKuc33iq8G1O3jwC1a6pF/EtJN7efiYmkrxhM01fKBft0bxmoTgDO7o1bcC19npjUlB8gZEw87X5eAjSFCeoftq1NCAkNl0pBipHz/FluzahZ/HVR5O6TnGUHDHnT5N0nnAMSVylFJ5Th9sPoco2JE3oZ2IjH94LsaggzGhlUptmXGEQoxmDFgMYJLe0cim/2CTr1OVqzx8AhzivweXIK/qgwTgp1XxAUuDG7d78FBji2kZDFV3/Dcz8YQo+UTym+doNjrZcEn1CirJzEYPcqIFmgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xODExMTkxNjMwMzlaMCMGCSqGSIb3DQEJBDEWBBQ5lfqKUFRAQXyKKFMjoW2csNd42jANBgkqhkiG9w0BAQEFAASBgEL/VaxAwJ8hFDHs2DxuVxEVvrO0MObtpBdbK5f27+qQasS5YbZ55BBKgZeBf2Ljn+KCjPOyBlkfEIgRWD+Nc2246QkbzhXmCZmBtzvpoNx3lSVTbfyWMSNDzDNKy6AONl84YgEeLgcj3r69qFZX87ziEjl+l1eW/ZfC5DjlV4V/-----END PKCS7-----">
                <table class="table table-info">
                    <tr>
                        <td><input type="hidden" name="on0" value="Meses">Meses</td>
                        <td>
                            <select name="os0" class="form-control">
                                <option value="6 meses">6 meses por $69.60 MXN</option>
                                <option value="12 meses">12 meses por $116.00 MXN</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                        </td>
                        <td style="text-align:center;">
                            <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    @*<div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            CoTeDiv<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
        <p>
            Encuentra definiciones y conceptos en este buscador, ve cómo se relaciona la información en los mapas que genera.
        </p>
        <p>
            Regístrate para comenzar a compartir tus conocimientos y opinar sobre otros conceptos.<br />
            Como experto puedes evaluar y otorgar puntos.
        </p>
        <p>Es un sistema diseñado como apoyo educativo en una mecánica de puntuación y posicionamiento</p>
    </div>
</div>*@
<div class="row">
    @*<div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            Gestión Escolar<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://www.prolancer.com.mx/MaverickXXI/965/" class="btn btn-lg btn-primary" target="_blank" style="width:100%">
            Sistema Escolar<br />
            <small>Ir <span class="glyphicon glyphicon-new-window"></span></small>
        </a>
    </div>*@
</div>
