@{
    ViewBag.Title = "Ver contacto";
    Layout = "~/Views/Shared/_Gestion.cshtml";
}

<h2>@ViewBag.Title</h2>
<table class="table table-bordered table-condensed table-hover table-striped">
    @{
        for (int i = 0; i < 3; i++) {
            <tr>
                <td>Nombre</td>
                <td>Teléfono</td>
                <td>Email</td>
                <td>Registrado</td>
                <td>Comentarios</td>
                <td>
                    @Html.ActionLink("Ver", "CrearLocal", new {
                        id = ViewBag.Id,
                        fecha = ViewBag.UltimoLogin,
                        idcontacto = i,
                        operacion = "editar"
                    })
                </td>
            </tr>
        }
    }
</table>